<h1>Show the Specified post</h1>
<div class=box>
<h2>Post #<%= @post[0].id %> by <%=@user[0].name %> </h2>
<h3><%= @post[0].title%></h3>
<p class="right">comment counter: <%= @post[0].comments_counter%>, likes counter:<%= @post[0].likes_counter %></p>
    


<%= @post[0].text%>
<% if current_user && current_user == @post.author %>
<%= button_to 'Delete', user_post_path(current_user, @post), method: :delete, class: 'delete-btn' %>
<% end %>
</div>
<br>
<a href=<%= @post[0].id%><%="/like"%>>Add a like to it</a>
<p class=box> 
<% @comment = @post[0].most_recent_comments(@post[0].id) %> 
<% @comment.each do |com| %>
<% @username = User.where(id: com.author)%>
<%=@username[0].name%> : <%=com.text%><br>
<% if current_user && current_user == comment.author %>
          <%= button_to 'Delete', user_post_comment_path(current_user, @post, comment), method: :delete, class: 'delete' %>
        <% end %>
<% end %>
</p>
<br>

</p>

<a href=<%= @post[0].id%><%="/comment"%>>Add a comment</a>